.header{
    display: flex;
    justify-content: space-between;
}

.Logo{
    width: 17rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>li:hover{
    cursor: pointer;
    color: var(--orange);
    cursor: pointer;
}