.Programs {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}

.programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    color: white;
}

.prgoram-categories{
    display: flex;
    gap: 5rem;
    justify-content: center;
    text-align: center;
}
.category {
    background-color: gray;
    color: #fff;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
.category {
    display: flex;
    gap: 1rem;
}

.category>:first-child {
    fill: #fff;
    height: 2rem;
    width: 2rem;
}